DB_USER=<alphanumeric project name>
DB_PASS=<use `openssl rand -hex 32`>
DB_NAME=<same as DB_USER>
DB_HOST=<localhost is default>
DB_PORT=<5432>
DB_URL=postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}
# Docker can parse this directly, I think.
# Run (set -a; source .env; echo "$DB_URL") with parentheses
# to evaluate DB_URL and show it in terminal.
# In the project, however, it can't be parsed by pg.
# instead, use `postgres://${process.env.DB_USER}:${process.env.DB_PASS}@${process.env.DB_HOST}:${process.env.DB_PORT}/${process.env.DB_NAME}`

# Node
HOST=<localhost is default>
PORT=<unique port per project>